* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	min-width: 300px;
	margin: 0;
}

body {
	font-family: 'Open Sans', Arial, sans-serif;
	line-height: 30px;
	background-color: #D0D0D0;
	/*background-color: #837a7b;*/
}
#wrap {
	width: 100%;
	position: relative;
	min-height: 100%;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 2rem;
}
a {
	text-decoration: none;
	outline: none;
	transition: all .3s ease-in-out;
}

/*Header Styles*/
header {
	width: 100%;
	height: 35px;
	background-color: transparent;
	position: absolute;
	top: 0;
	z-index: 2;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
	color: white;
}
	nav {
		display: inline;
		margin-right: 20px;
		position: relative;
		top: 0;
	}

	nav a {
		list-style-type: none;
		float: left;
		color: white;
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 5px;
		padding-bottom: 7px;
	}
	nav a:hover {
		background-color: #cccce5;
		color: #060606;
	}
	.active {
		background-color: #FF4081;
	}
	.name {
		color: white;
		font-size: 1.2rem;
		margin-left: 10px;
		margin-top: 10px;
	}
	.name:hover {
		color: grey;
	}
/*Hero Styles*/
.hero {
	width: 100%;
	height: 800px;
	position: absolute;
	background-image: 
		linear-gradient(
	    rgba(0, 0, 24, 0.5),
	    rgba(0, 0, 24, 0.5)
	    ), url('../img/back6.jpg');
	background-position: center 70%;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	z-index: 1;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}
.welcome {
	padding-top: 90px;
	font-family: 'Cookie', cursive;
}


/*Section main*/
.btnTitle {
	width: 100%;
	height: 42px;
	background-color: #0F1626;
	color: white;
	font-size: 1.2rem;
	border:none;
}


/*contentDiv styles*/

.contentDiv {
	position: relative;
	width: 60%;
	min-height: 1000px;
	z-index: 99;
	top: 180px;
	margin: auto;
	margin-bottom: 200px;
	box-shadow:
      0 0 15px 3px #000019;
	/*box-shadow: 3px 3px 10px 5px #000019;*/
}
	.topDiv {
		min-height: 350px;
		position: relative;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}
		.aboutImg {
			width: 250px;
			height: 300px;
			border-radius: 50%;
			box-shadow: 0 0 15px 3px #000019;
			margin-top: 70px;
			margin-right: 30px;
			margin-left: 20px;
		}
		.about {
			max-width: 350px;
			margin-top: 50px;
			margin-right: 20px;
		}
		.aboutH3 {
			color: rgb(192,192,192);
			font-weight: bold;
		}
		.text {
			color: white;
		}
		.line {
			height: 5px;
			background-color: rgb(168,168,168);
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.btnAbout {
			border: 2px solid #FF4081;
			color: white;
			margin-top: 30px;
			height: 35px;
			width: 135px;
			font-size: 0.8rem;
			text-transform: uppercase;
			background-color: #FF4081;
			box-shadow: 0 0 3px 0.2px #000019;
		}
	.fade {
		height: 130px;
		background: linear-gradient(to bottom, rgba(6,6,6,0), rgba(6,6,6,1));
	}
	.middleDiv {
		min-height: 450px;
		background-color: #060606;
	}
		#skillTitle {
			padding-top: 30px;
			text-transform: uppercase;
			font-size: 1.6rem;
			text-align: center;
		}
		.skills {
			margin-left: 30px;
			margin-right: 30px;
			margin-top: 35px;
			border: 3px solid grey;
		}
		/* Container for skill bars */
		.container {
		    width: 80%;
		    background-color: #ddd; /* Grey background */
		    margin: auto;
		    margin-bottom: 20px;
		}

		.skill {
		    text-align: right;
		    padding-right: 20px;
		    line-height: 30px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
		    color: white;
		    background-color: #262626;
		    display: flex;
		    flex-flow: row nowrap;
		    justify-content: space-between;
		}

		.html {width: 90%; margin-top: 40px;}
		.vue, .node, .github {width: 75%;}
		.js {width: 90%;}
		.react {width: 85%;}
		.firebase {width: 80%;}
		.ps {width: 60%;}
		.scrum {width: 90%; margin-bottom: 40px;}

		.skillName {
			margin-left: 20px;
		}
		.last {height: 70px;}
		.halfCircle {
		    width: 70px;
		    height: 35px; /* as the half of the width */
		    border-top-left-radius: 100px;
		    border-top-right-radius: 100px;
		    border: 2px solid #cccce5;
		    border-bottom: 0;
		    background-color: #cccce5;
		    position: relative;
		    margin: 0 auto; 
		}

	.bottomDiv {
		min-height: 450px;
		background-color: #cccce5;
	}
		#work {
			color: #323232;
			padding-top: 30px;
			text-transform: uppercase;
			font-size: 1.6rem;text-align: center;
		}
		.workImg {
			min-width: 200px;
			width: 100%;
			height: 100%;
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
			background-position: center 70%;
			background-repeat: no-repeat;
			background-size: cover;
			font-size: 1.5rem;
		}
		.workImg p {
			color: white;
			text-shadow: 3px 3px 10px black;
		}
		.spa {
			background-image: 
				url('../img/spa.jpg');
			filter: grayscale(70%);
		}
		.quiz {
			background-image: 
				url('../img/quiz.jpg');
			filter: grayscale(70%);
		}
		.auth {
			background-image: 
				url('../img/auth.jpg');
			filter: grayscale(70%);
		}
		.films {
			background-image: 
				url('../img/films.jpg');
			filter: grayscale(70%);
		}
		.imgRow {
		    text-align: center;
		    display: flex;
		    flex-flow: row nowrap;
		    justify-content: center;
		    align-content: stretch;
		}
		.imgRow a {
			align-self: center;
			width: 50%;
			height: 170px;
		}
		.imgWrap {
			margin-bottom: 30px;
		}
		.black {
		    border: 2px solid #060606;
		    background-color: #060606; 
		}
		.copy {
			margin-top: 30px;
		}


/*Personal info styles*/
	.cv {
		width: 100%;
		margin-right: 10px;
		margin-left: 10px;
		margin-top: 90px;
		height: 90px;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
	}
	.btnsCV {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.btnCV {
		height: 30px;
		width: 40px;
		background-color: grey;
		color: white;
		display: inline-block;
		text-align: center;
	}
	#eng {
		background-image: 
		linear-gradient(
	    rgba(0, 0, 24, 0.5),
	    rgba(0, 0, 24, 0.5)
	    ), url('../img/eng.png');
		background-position: center 70%;
		background-repeat: no-repeat;
		background-size: cover;
		margin-right: 10px;
	}
	#swe {
		background-image: 
		linear-gradient(
	    rgba(0, 0, 24, 0.5),
	    rgba(0, 0, 24, 0.5)
	    ), url('../img/swe.png');
		background-position: center 70%;
		background-repeat: no-repeat;
		background-size: cover;
	}
	#download {
		text-transform: none;
		font-size: 1.2rem;
	}
	.pTitle {
		font-size: 1rem;
		text-transform: uppercase;
		color: white;
		text-shadow: 3px 3px 10px black
	}
	.dotted {
		border: 1px dotted #868e96;
		margin-top: 10px;
		margin-bottom: 10px;
		border-style: dotted;
	}
	.picContact {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		margin-right: 20px;
	}
	.resumeTop {
		justify-content: space-around;
	}
	.contactPer {
		margin-left: 50px;
		margin-top: 30px;
	}
	#resumeHero {
		height: 1000px;
	}
	#imgPer {
		filter: grayscale(60%);
	}
	#skillsResume {
		color: white;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		text-align: center;
	}
	.logoEdu {
		height: 25px;
		width: 25px;
		margin-right: 5px;
	}
	.titleEdu {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		margin-top: 30px;
		align-items: center;
	}
	#eduH4 {
		font-size: 1.2rem;
	}
	#skillsResume h6, .titleEdu, #skillsResume h5 {
		padding-left: 5px;
		padding-right: 5px;
	}
	.desc {
		text-align: left;
		font-size: 0.9rem;
		margin-left: 20px;
		margin-right: 20px;
	}
	.descLine {
		margin: 20px;
	}
	.short {
		width: 30%;
		align-self: center;
	}
	.descStr {
		margin: 20px;
		height: 2px;
		margin-top: 30px;
	}
	.subjects {
		margin-right: 20px;
		margin-right: 20px;
		text-align: left;
		font-size: 0.9rem;
	}
	.subjects li {
		margin-left: 20%;
	}
	#bottomP {
		padding-bottom: 30px;
	}
	.dot {
	    height: 25px;
	    width: 25px;
	    background-color: grey;
	    opacity: 0.3;
	    border-radius: 50%;
	    display: inline-block;
	    margin-right: 5px;
	}
	.langGrey {
		opacity: 1;
	}
	.dots {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
	}
	#trans {
		text-align: left;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		background-color: transparent;
	}
	.center {
		align-self: center;
	}
	.lang {
		width: 120px;
		font-size: 1.1rem;
		color: #323232;
		font-weight: bold;
	}
	.first {
		margin-top: 30px;
	}
	#langCircle {
		
	}
	#langBottomDiv {
		min-height: 300px;
	}
	.marginBottom {
		margin-bottom: 30px;
	}

/*Contact page styles*/
	#heroContact {
		height: 100%;
		align-items: center;
		flex-flow: column wrap;
	}
	.contactWrap {
		min-height: 300px;
		position: relative;
		width: 60%;
		z-index: 99;
		align-self: center;
		box-shadow:
	      0 0 15px 3px #000019;
		/*box-shadow: 3px 3px 10px 5px #000019;*/
		margin-bottom: 100px;
		margin-top: 30px;
		padding-top: 30px;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
	}
	.contactTitle {
		padding-top: 0;
		font-family: 'Cookie', cursive;
		font-size: 2.5rem;
	}
	.contactRow {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 10px;
		width: 250px;
		align-self: center;
	}
	.inlineP {
		display: inline;
		font-size: 1.2rem;
	}
	.contactIcon {
		margin-right: 10px;
		font-size: 1.5rem;
	}
	.fixed {
		width: 250px;
		align-self: center;
		height: 2px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.fixedIconRow {
		width: 250px;
		align-self: center;
	}
	.contactIcon {
		margin-right: 10px;
	}
	#linkedin, #fb {
		color: #585858;
	}
/*Coming soon page style*/
.coming {
		font-family: 'Cookie', cursive;
		font-size: 2.7rem;
		align-self: center;
}
/*Footer styles*/
footer {
	min-height: 400px;
	margin-top: -200px;
	background-color: #060606;
	color: #dee2e6;
	
}
	.footerWrap {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		padding-right: 30px;
		padding-left: 30px;
	}
	.child {
		margin-top: 250px;
		text-align: left;
	}
	.child h4 {
		font-weight: normal;
		font-size: 1.2rem;
		border-bottom: 3px solid #868e96;
		padding-bottom: 8px;
		color: #868e96;
	}
	.top {
		margin-top: 8px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
	}
	.icon {
		display: inline-block;
		background-color: #dee2e6;
		width: 30px;
		height: 30px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		border-radius: 50%;
		margin-right: 7px;
		margin-top: 10px;
	}
	.fa-linkedin-in {
		color: #060606;
		align-self: center;
		font-size: 1.4rem;
	}
	.fa-facebook-f {
		color: #060606;
		font-size: 1.5rem;
		align-self: center;
	}
	.copy {
		text-align: center;
		margin-top: 40px;
		padding-bottom: 20px;
		font-size: 0.9rem;
		color: #868e96;
	}
	
/*Media queries*/
@media (max-width: 1200px) {
	.hero {
		height: 1200px;
	}
	.imgRow a {
		height: 150px;
	}
}

@media (max-width: 960px) {
	.aboutImg {
		margin-right: 10px;
		margin-left: 10px;
	}
	.about {
		margin-right: 10px;
		margin-left: 10px;
	}
	.hero {
		height: 1100px;
	}
	.fade {
		height: 70px;
	}
}
@media (max-width: 945px) {
	.imgRow {
		flex-flow: column wrap;
	}
	.imgRow a {
		width: 100%;
	}
}
@media (max-width: 880px) {
	#resumeHero {
		height: 1300px;
	}
	#trans {
		flex-flow: column wrap;
		justify-content: flex-start;
	}
	.center {
		align-self: flex-start;
	}
	.lang {
		padding-bottom: 10px;
	}
}

@media (max-width: 780px) {
	.contentDiv {
		width: 80%;
	}
	#resumeHero {
		height: 900px;
	}

}
@media (max-width: 660px) {
	#resumeHero {
		height: 1300px;
	}
}
@media (max-width: 600px) {
	h1 {
		font-size: 1.5rem;
	}
	nav {
		margin-right: 0;
	}
	#skillTitle {
		font-size: 1.2rem;
	}
	#work {
		font-size: 1.2rem;
	}
	.contactWrap {
		width: 80%;
	}
	#eduH4 {
		font-size: 1rem;
	}
	#chLogo {
		display: none;
	}
}
@media (max-width: 450px) {
	header {
		flex-flow: column wrap;
		height: 70px;
		margin-left: 20px;
	}
	h1 {
		font-size: 1.2rem;
	}
	.name {
		display: none;
	}
	.aboutH3 {
		font-size: 1.2rem;
		color: white;
		text-align: center;
	}
	#skillTitle {
		margin-left: 0;
	}
	.skills {
		margin-left: 0;
		margin-right: 0;
		border: none;
	}
	.footerWrap {
		flex-flow: column wrap;
	}
	.contact, .social {
		margin-top: 30px;
	}
	.dissap {
		display: none;
	}
}
@media (max-width: 380px) {
	.hero {
		height: 1200px;
	}
	.aboutImg {
		width: 200px;
		height: 250px;
	}
	.contact {
		margin-left: 20px;
		margin-top: 30px;
	}
	.contentDiv {
		width: 100%;
	}
	.contact {
		margin-left: 0;
	}
}
@media (max-width: 320px) {
	.contactWrap {
		width: 90%;
	}
	.coming {
		font-family: 'Cookie', cursive;
		font-size: 2.2rem;
		align-self: center;
	}
}