* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	min-width: 300px;
	margin: 0;
}

body {
	font-family: 'Open Sans', Arial, sans-serif;
	line-height: 30px;
	background-color: #cccce5;
	/*background-color: #837a7b;*/
}
#wrap {
	width: 100%;
	position: relative;
	min-height: 100%;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 2rem;
}
a {
	text-decoration: none;
	outline: none;
	transition: all .3s ease-in-out;
}

/*Header Styles*/
header {
	width: 100%;
	height: 35px;
	background-color: transparent;
	position: absolute;
	top: 0;
	z-index: 2;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
	color: white;
}
	nav {
		display: inline;
		margin-right: 20px;
		position: relative;
		top: 0;
	}

	nav a {
		list-style-type: none;
		float: left;
		color: white;
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 5px;
		padding-bottom: 7px;
	}
	nav a:hover {
		background-color: #cccce5;
		color: #060606;
	}
	.active {
		background-color: #FF4081;
	}
	.name {
		color: white;
		font-size: 1.2rem;
		margin-left: 10px;
		margin-top: 10px;
	}
	.name:hover {
		color: grey;
	}
/*Hero Styles*/
.hero {
	width: 100%;
	height: 800px;
	position: absolute;
	background-image: 
		linear-gradient(
	    rgba(0, 0, 24, 0.5),
	    rgba(0, 0, 24, 0.5)
	    ), url('../img/back6.jpg');
	background-position: center 70%;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	z-index: 1;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}
.welcome {
	padding-top: 90px;
	font-family: 'Cookie', cursive;
}


/*Section main*/
.btnTitle {
	width: 100%;
	height: 42px;
	background-color: #0F1626;
	color: white;
	font-size: 1.2rem;
	border:none;
}
input[type="text"] {
	display: block;
	color: #0F1626;
	margin-left: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 30px;
	width: 250px;
	font-size: 1.2rem;
}

/*contentDiv styles*/

.contentDiv {
	position: relative;
	width: 60%;
	min-height: 1000px;
	z-index: 99;
	top: 180px;
	margin: auto;
	margin-bottom: 200px;
	box-shadow:
      0 0 15px 3px #000019;
	/*box-shadow: 3px 3px 10px 5px #000019;*/
}
	.topDiv {
		min-height: 350px;
		position: relative;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}
		.aboutImg {
			width: 250px;
			height: 300px;
			border-radius: 50%;
			box-shadow: 0 0 15px 3px #000019;
			margin-top: 70px;
			margin-right: 30px;
			margin-left: 20px;
		}
		.about {
			max-width: 350px;
			margin-top: 50px;
			margin-right: 20px;
		}
		.aboutH3 {
			color: rgb(192,192,192);
			font-weight: bold;
		}
		.text {
			color: white;
		}
		.line {
			height: 5px;
			background-color: rgb(168,168,168);
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.btnAbout {
			border: 2px solid #FF4081;
			color: white;
			margin-top: 30px;
			height: 35px;
			width: 135px;
			font-size: 0.8rem;
			text-transform: uppercase;
			background-color: #FF4081;
			box-shadow: 0 0 3px 0.2px #000019;
		}
	.fade {
		height: 130px;
		background: linear-gradient(to bottom, rgba(6,6,6,0), rgba(6,6,6,1));
	}
	.middleDiv {
		min-height: 450px;
		background-color: #060606;
	}
		#skillTitle {
			padding-top: 30px;
			text-transform: uppercase;
			font-size: 1.6rem;
			text-align: center;
		}
		.skills {
			margin-left: 30px;
			margin-right: 30px;
			margin-top: 50px;
			border: 3px solid grey;
		}
		/* Container for skill bars */
		.container {
		    width: 80%;
		    background-color: #ddd; /* Grey background */
		    margin: auto;
		    margin-bottom: 20px;
		}

		.skill {
		    text-align: right;
		    padding-right: 20px;
		    line-height: 30px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
		    color: white;
		    background-color: #262626;
		    display: flex;
		    flex-flow: row nowrap;
		    justify-content: space-between;
		}

		.html {width: 90%; margin-top: 40px;}
		.vue, .node, .github {width: 75%;}
		.js {width: 90%;}
		.react {width: 85%;}
		.firebase {width: 80%;}
		.ps {width: 60%;}
		.scrum {width: 90%; margin-bottom: 40px;}

		.skillName {
			margin-left: 20px;
		}
		.last {height: 70px;}
		.halfCircle {
		    width: 70px;
		    height: 35px; /* as the half of the width */
		    border-top-left-radius: 100px;
		    border-top-right-radius: 100px;
		    border: 2px solid #cccce5;
		    border-bottom: 0;
		    background-color: #cccce5;
		    position: relative;
		    margin: 0 auto; 
		}

	.bottomDiv {
		min-height: 450px;
		background-color: #cccce5;
	}
		#work {
			color: #323232;
			padding-top: 30px;
			text-transform: uppercase;
			font-size: 1.6rem;text-align: center;
		}

/*Footer styles*/
footer {
	height: 250px;
	margin-top: -80px;
	background-color: #060606;
}

/*Media queries*/
@media (max-width: 1200px) {
	.hero {
		height: 1200px;
	}
}

@media (max-width: 960px) {
	.aboutImg {
		margin-right: 10px;
		margin-left: 10px;
	}
	.about {
		margin-right: 10px;
		margin-left: 10px;
	}
	.hero {
		height: 1100px;
	}
	.fade {
		height: 70px;
	}
}

@media (max-width: 780px) {
	.contentDiv {
		width: 80%;
	}
}

@media (max-width: 600px) {
	h1 {
		font-size: 1.5rem;
	}
	nav {
		margin-right: 0;
	}
}
@media (max-width: 450px) {
	header {
		flex-flow: column wrap;
		height: 70px;
		margin-left: 20px;
	}
	h1 {
		font-size: 1.2rem;
	}
	.name {
		display: none;
	}
	.aboutH3 {
		font-size: 1.2rem;
		color: white;
		text-align: center;
	}
	#skillTitle {
		margin-left: 0;
		font-size: 1.4rem;
	}
	.skills {
		margin-left: 0;
		margin-right: 0;
		border: none;
	}
}
@media (max-width: 380px) {
	.hero {
		height: 1200px;
	}
	.aboutImg {
		width: 200px;
		height: 250px;
	}
	
}
@media (max-width: 320px) {

}